
    <h4>Change Password</h4>
    <form action="" method="post" >
        {% csrf_token %}
        {{ pass_form.as_p }}
<!--                            <div class="input__item">-->
<!--                                <input type="text" placeholder="Email address">-->
<!--                                <span class="icon_mail"></span>-->
<!--                            </div>-->
<!--                            <div class="input__item">-->
<!--                                <input type="text" placeholder="Password">-->
<!--                                <span class="icon_lock"></span>-->
<!--                            </div>-->
        <button type="submit" class="site-btn">Change Password</button>
    </form>
    <a href="" class="forget_pass">Forgot Your Password?</a>
