{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Регистрация</h2>
                        <p>Добро пожаловать в Watch Movie!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Регистрация</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
<!--                            <div class="input__item">-->
<!--                                <input type="email" placeholder="Email address"-->
<!--                                 name="{{ Register_form.username.name }}" required>-->
<!--                                <span class="icon_mail"></span>-->
<!--                            </div>-->
<!--                            <div class="input__item">-->
<!--                                <input type="text" placeholder="Your Name"-->
<!--                                name="{{ Register_form.usrname.name }}" required>-->
<!--                                <span class="icon_profile"></span>-->
<!--                            </div>-->
<!--                            <div class="input__item">-->
<!--                                <input type="password" placeholder="Password"-->
<!--                                name="{{ Register_form.password1.name }}" required>-->
<!--                                <span class="icon_lock"></span>-->
<!--                            </div>-->
<!--                            <div class="input__item">-->
<!--                                <input type="password" placeholder="Confirm Password"-->
<!--                                name="{{ Register_form.password2.name }}" required>-->
<!--                                <span class="icon_lock"></span>-->
<!--                            </div>-->
                            <button type="submit" class="site-btn">Зарегистрироваться</button>
                        </form>
                        <h5>Уже есть аккаунт? <a href="/account/login/">Войти!</a></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Зарегистрироваться с:</h3>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->

{% endblock %}