{% load static %}

<div class="product__sidebar mb-3">
    {% if top_views_movies %}
    <div class="section-title">
        <h5>Полулярные за</h5>
    </div>
    <div class="product__sidebar__view">
       <ul class="filter__controls">
           <li class="active" data-filter=".day">День</li>
           <li data-filter=".week">Неделю</li>
           <li data-filter=".month">Месяц</li>
           <li data-filter=".years">Год</li>
       </ul>
    </div>
    <div class="filter__gallery">

        {% for movie_id, data in top_views_movies.items %}
        <div class="product__sidebar__view__item set-bg mix {{ data.periods|join:' ' }}"
                data-setbg="{{ data.movie.poster.url }}">
            <div class="wrap"></div>
            {% if data.movie.average_rating %}
            <div class="ep">{{ data.movie.average_rating|floatformat:1 }}</div>
            {% endif %}
            <div class="view"><i class="fa fa-eye"></i> {{ data.movie.views.all.count }}</div>
            <h5><a href="{% url 'movie_details' data.movie.id %}">{{ data.movie.title }}</a></h5>
        </div>
        {% endfor %}
    </div>
    {% endif %}
            
</div>

<div class="product__sidebar__comment">
    <div class="section-title">
        <h5>Последние комментарии</h5>
    </div>
    {% for i in latest_comments %}
    <div class="mb-3">
        <div class="mb-2 product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="{{ i.movie.poster.url }}" alt="" width="90">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    {% for g in i.movie.genres.all %}
                        <li>{{ g }}</li>
                        {% endfor %}
                </ul>
                <h5><a href="{% url 'movie_details' i.id %}">{{ i.movie.title }}</a></h5>
                <span>Простмотры <i class="fa fa-eye"></i> {{ i.movie.views.count }}</span>
            </div>
        </div>
        <div class="anime__review__item__text">
            <h6>{{ user.username }} - <span>{{ i.created_at }}</span></h6>
            <p>{{ i.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
