{% extends 'base.html' %}

{% load static %}
{% csrf_token %}

{% block style %}

{% endblock %}

{% block title %}
<title>{{ movie.title }}</title>
{% endblock %}

{% block content %}


    <!-- Breadcrumb Begin -->
    <!-- <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i>Главная</a>
                        <a href="./categories.html">Категории</a>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ movie.poster.url }}">
                            <div class="comment"><i class="fa fa-comments"></i> {{ movie.comments.count }}</div>
                            <div class="view"><i class="fa fa-eye"></i> {{ movie.views.count }}</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="row wrap">
                                <div class="d-inline-block anime__details__title">
                                    <h3>{{ movie.title }}</h3>
                                    <span>{{ tmdbd.tagline }}</span>
                                </div>

                                <div id="v-rating" data-movie-id="{{ movie.id }}" data-user-id="{{ user.id }}"></div>
                                
                            </div> 
                            <p>
                                {{ movie.description }}
                            </p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Актёры:</span>
                                                {% for i in movie.get_actors %}
                                                    <a href="{% url 'person_details' i.id %}">
                                                        {{ i.name }}{% if not forloop.last %}, {% endif %}
                                                   </a>
                                                   {% endfor %}
                                                </li>
                                                <li><span>Создатели:</span>
                                                    {% for i in movie.get_creators %}
                                                    <a href="{% url 'person_details' i.id %}">
                                                        {{ i.name }}{% if not forloop.last %}, {% endif %}
                                                   </a>
                                                {% endfor %}
                                            </li>
                                            
                                            <li><span>Дата выхода:</span>{{ movie.release_date }}</li>
                                            <li><span>Жанры:</span>
                                                {% for i in movie.genres.all %}
                                                    {{ i.name }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            {% if movie.duration %}
                                                <li><span>Длительность:</span> {{ movie.get_duration_display }}</li>  
                                            {% endif %}
                                            <li><span>Страна:</span>
                                                    {{ movie.country.name }}
                                            </li>
                                            <li><span> Рейтинг: </span> {{ movie.average_rating | floatformat:1 }}</li>
                                            <li><span>Все просмотры:</span> {{ movie.all_views }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn row">
                                <div id="v-watchlist-btn" data-user-id="{{ user.id }}" data-movie-id="{{ movie.id }}"></div>
                                
                                {% if is_video %}
                                <a href="{% url 'movie_watching' movie.id %}" class="watch-btn"><span>Смотреть</span> <i class="fa fa-angle-right"></i></a>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-lg-8 col-md-8">
                    {% include 'Comment/comment-section.html' %}
                </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>Вам может понравиться</h5>
                            </div>
                             {% for m in recommendations %}
                                <div class="product__sidebar__view__item set-bg" data-setbg="{{ m.poster.url }}">
                                    <div class="wrap"></div>
                                    {% if m.average_rating %}
                                    <div class="ep">{{ m.average_rating }}</div>
                                    {% endif %}
                                    {% if m.user_rating %}
                                    <div class="ep bg-info" style="right: 10px; left: auto; top: 45px">{{ m.user_rating }}</div>
                                    {% endif %}
                                    <div class="view"><i class="fa fa-eye"></i> {{ m.views.count }}</div>
                                    <h5><a href="{% url 'movie_details' m.id %}">{{ m.title }}</a></h5>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

{% endblock %}

{% block importjs %}
<script src="{% static 'js/vue.watchlist-btn.js'%}"></script>
<script src="{% static 'js/vue.rating.js'%}"></script>
{% endblock %}

