{% extends 'base.html' %}

{% load static %}
{% csrf_token %}

{% block title %}
<title>Смотреть {{ movie.title }} </title>
{% endblock %}

{% block content %}
  <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include 'movie/include/hls-video-player.html' %}
                    
                    <!-- <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>List Name</h5>
                        </div>
                        <a href="#">Ep 01</a>
                        <a href="#">Ep 02</a>
                        <a href="#">Ep 03</a>
                        <a href="#">Ep 04</a>
    
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    {% include 'Comment/comment-section.html' %}
                </div>
            </div>
    </section>
    <!-- Anime Section End -->

{% endblock %}