<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
<!--                {% include 'HomeApp/product-section/trending-product.html' %}-->
                {% include 'HomeApp/product-section/popular-product.html' %}
                {% include 'HomeApp/product-section/recent-product.html' %}
                {% include 'HomeApp/product-section/top-raited.html' %}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                {% include 'HomeApp/product-section/product-sidebar.html' %}
            </div>
        </div>
    </div>
</section>
