{% load static %}

<div class="product__sidebar">
    {% if top_views_movies %}
   <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Полулярные за</h5>
        </div>
    <ul class="filter__controls list-none">
        <li class="active" data-filter=".day">День</li>
        <li data-filter=".week">Неделю</li>
        <li data-filter=".month">Месяц</li>
        <li data-filter=".years">Год</li>
    </ul>
    <div class="filter__gallery">

        {% for movie_id, data in top_views_movies.items %}
        <div class="product__sidebar__view__item set-bg mix {{ data.periods|join:' ' }}"
                data-setbg="{{ data.movie.poster.url }}">
            <div class="wrap">{{ data.movie.name }}</div>
            <div class="ep">{{ data.movie.average_rating|floatformat:1 }}</div>
            <div class="view"><i class="fa fa-eye"></i> {{ data.movie.views.all.count }}</div>
            <h5><a href="#">{{ data.movie.title }}</a></h5>
        </div>
        {% endfor %}
    </div>
{% endif %}
  </div>
            
</div>
<!--    </div> -->
    <!-- <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comments</h5>
        </div>
        {% for i in new_comments %}
        <div class="mb-3">
            <div class="mb-2 product__sidebar__comment__item">
                <div class="product__sidebar__comment__item__pic">
                    <img src="{{ i.poster_path }}" alt="" width="90">
                </div>
                <div class="product__sidebar__comment__item__text">
                    <ul>
                        {% for g in i.movie.genre_list %}
                            <li>{{ g }}</li>
                         {% endfor %}
                    </ul>
                    <h5><a href="{% url 'movie_details' i.id %}">{{ i.movie.name }}</a></h5>
                    <span><i class="fa fa-eye"></i> {{ i.movie.views }} Viewes</span>
                </div>
            </div>
            <div class="anime__review__item__text">
                <h6>{{ i.user.username }} - <span>{{ i.created_at }}</span></h6>
                <p>{{ i.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>-->
</div>