{% load static %}
<div class="product__sidebar">
   <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Views</h5>
        </div>
        <ul class="filter__controls">
            <li class="active" data-filter="*">Day</li>
            <li data-filter=".week">Week</li>
            <li data-filter=".month">Month</li>
            <li data-filter=".years">Years</li>
        </ul>
        <div class="filter__gallery">
            <div class="product__sidebar__view__item set-bg mix day years"
                data-setbg="img/sidebar/tv-1.jpg">
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">Boruto: Naruto next generations</a></h5>
            </div>
            <div class="product__sidebar__view__item set-bg mix month week"
                data-setbg="img/sidebar/tv-2.jpg">
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
            </div>
            <div class="product__sidebar__view__item set-bg mix week years"
                data-setbg="img/sidebar/tv-3.jpg">
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">Sword art online alicization war of underworld</a></h5>
            </div>
            <div class="product__sidebar__view__item set-bg mix years month"
                data-setbg="img/sidebar/tv-4.jpg">
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
            </div>
            <div class="product__sidebar__view__item set-bg mix day"
                data-setbg="img/sidebar/tv-5.jpg">
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">Fate stay night unlimited blade works</a></h5>
            </div>
    </div>
<!--    </div> -->
    <!-- <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comments</h5>
        </div>
        {% for i in new_comments %}
        <div class="mb-3">
            <div class="mb-2 product__sidebar__comment__item">
                <div class="product__sidebar__comment__item__pic">
                    <img src="{{ i.poster_path }}" alt="" width="90">
                </div>
                <div class="product__sidebar__comment__item__text">
                    <ul>
                        {% for g in i.movie.genre_list %}
                            <li>{{ g }}</li>
                         {% endfor %}
                    </ul>
                    <h5><a href="{% url 'movie_details' i.id %}">{{ i.movie.name }}</a></h5>
                    <span><i class="fa fa-eye"></i> {{ i.movie.views }} Viewes</span>
                </div>
            </div>
            <div class="anime__review__item__text">
                <h6>{{ i.user.username }} - <span>{{ i.created_at }}</span></h6>
                <p>{{ i.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>-->
</div>