{% load static %}

<div class="product__sidebar">
    {% if top_views_movies %}
   <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Views</h5>
        </div>
        <ul class="filter__controls">
            <li class="active" data-filter="*">Day</li>
            <li data-filter=".week">Week</li>
            <li data-filter=".month">Month</li>
            <li data-filter=".years">Years</li>
        </ul>
        <div class="filter__gallery">
 
          {% for m in top_views_movies %}
          <div class="product__sidebar__view__item set-bg mix day years"
                 data-setbg="{{ m.poster.url }}">
                <div class="wrap"></div>
                <div class="ep">{{ m.average_rating|floatformat:1 }}</div>
                <div class="view"><i class="fa fa-eye"></i> {{ m.views.all.count }}</div>
                <h5><a href="#">{{ m.title }}</a></h5>
            </div>
          {% endfor %}
      </div>
  </div>
{% endif %}
            
    </div>
<!--    </div> -->
    <!-- <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comments</h5>
        </div>
        {% for i in new_comments %}
        <div class="mb-3">
            <div class="mb-2 product__sidebar__comment__item">
                <div class="product__sidebar__comment__item__pic">
                    <img src="{{ i.poster_path }}" alt="" width="90">
                </div>
                <div class="product__sidebar__comment__item__text">
                    <ul>
                        {% for g in i.movie.genre_list %}
                            <li>{{ g }}</li>
                         {% endfor %}
                    </ul>
                    <h5><a href="{% url 'movie_details' i.id %}">{{ i.movie.name }}</a></h5>
                    <span><i class="fa fa-eye"></i> {{ i.movie.views }} Viewes</span>
                </div>
            </div>
            <div class="anime__review__item__text">
                <h6>{{ i.user.username }} - <span>{{ i.created_at }}</span></h6>
                <p>{{ i.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>-->
</div>