
{% if latest_movies %}
<div class="recent__product">
      <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                  <h4>Недавно добавленные</h4>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all">
                  <a href="{% url 'filter' %}" class="primary-btn">Смотреть все<span class="arrow_right"></span></a>
              </div>
          </div>
      </div>
      <div class="row">
          {% for m in latest_movies %}
              {% include 'movie/include/movie-item.html' %}
          {% endfor %}
      </div>
  </div>

{% endif %}


