{% load static %}
    <!-- Header Section Begin -->
    <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Homepage</a></li>
                            <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
<!--                                <ul class="dropdown">-->
<!--                                    {% for i in categories %}-->
<!--                                        <li><a href="{% url 'categories' i.id %}">{{ i.name }}</a></li>-->
<!--                                    {% endfor %}-->
<!--                                </ul>-->
                                    <ul class="dropdown">

                                        <li><a href="/movies/categories/20/">Action</a></li>

                                        <li><a href="/movies/categories/21/">Adventure</a></li>

                                        <li><a href="/movies/categories/22/">Animation</a></li>

                                        <li><a href="/movies/categories/23/">Comedy</a></li>

                                        <li><a href="/movies/categories/24/">Crime</a></li>

                                        <li><a href="/movies/categories/25/">Documentary</a></li>

                                        <li><a href="/movies/categories/26/">Drama</a></li>

                                        <li><a href="/movies/categories/27/">Family</a></li>

                                        <li><a href="/movies/categories/28/">Fantasy</a></li>

                                        <li><a href="/movies/categories/29/">History</a></li>

                                        <li><a href="/movies/categories/30/">Horror</a></li>

                                        <li><a href="/movies/categories/31/">Music</a></li>

                                        <li><a href="/movies/categories/32/">Mystery</a></li>

                                        <li><a href="/movies/categories/33/">Romance</a></li>

                                        <li><a href="/movies/categories/34/">Science Fiction</a></li>

                                        <li><a href="/movies/categories/35/">TV Movie</a></li>

                                        <li><a href="/movies/categories/36/">Thriller</a></li>

                                        <li><a href="/movies/categories/37/">War</a></li>

                                        <li><a href="/movies/categories/38/">Western</a></li>

                                        <li><a href="/movies/categories/39/">Foreign</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 py-3">
                <form action="{% url 'home' %}" class="row" method="get">
                    <input type="search"  name="searchinput" placeholder="Search.." style="border: none; padding: 3px;">
                    <button type="submit"  style="border: none; background-color: #fff; "><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    {% if user.username %}
                        <span id="user" class="col-lg-1 text">{{ user }}
                            {% include 'Account/profile-modal.html' %}
                        </span>
                        <a href="{% url 'account_logout' %}">Выйти</a>
                    {% else %}
                        <a href="{% url 'account_login' %}"><span class="icon_profile">Войти</span></a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
    <!-- Header End -->