{% load static %}
{% load account %} 
{% load genres %} 

    <!-- Header Section Begin -->
    <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}">
                        <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
                         Watch<span>Movie</span> 
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="{% if request.path == '/' %} active {% endif %}"><a href="{% url 'home' %}">Главная</a></li>
                            <li class="{% if '/filter/' in request.path  %} active {% endif %}"><a href="{% url 'filter' %}">Фильтр</a></li>

                            <li class="{% if '/categories/' in request.path %} active {% endif %}"><a href="#">   Категории <i class="arrow_carrot-down"></i> </a>
                               <ul class="dropdown">
                                {% get_genres as genres %}
                                   {% for i in genres %}
                                       <li><a href="{% url 'categories' i.id %}">{{ i.name }}</a></li>
                                   {% endfor %}
                               </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-1 py-3">
                <a href="#" class="search-switch"><span class="icon_search"></span></a>
            </div>
            <div class="col-lg-3">
                <div class="header__right {% if request.path == '/profile/' %}active{% endif %}">
                    {% if user.username %}
                        <a id="user" href="{% url 'profile' %}" class=" text d-inline">
                            {{ user.username }} <span class="icon_profile"></span>
                        </a>
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="">Выйти</button>
                        </form>

                        <!-- <a href="{% url 'account_logout' %}">Выйти</a> -->
                    {% else %}
                        <a href="{% url 'account_login' %}">Войти</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>                                                                                                                                
    </div>
</header>
    <!-- Header End -->